<section class="project" id="project">
        <p>PROJECTS</p>
        <h1>Featured Work</h1>
        <hr>
        <div class="info-pro">
            <p>A showcase of my recent projects demonstrating expertise in full-stack </p>
            <p>development, modern frameworks, and creative problem-solving.</p>
        </div>
        <div class="projects-container">
 <div class="project-card">
  <img src="/assets/images/VPM.png" alt="Visitor Parcel Management">
      <h3>Visitor Parcel Management</h3>
      <p>Role Based Access Control for managing visitor and parcel information.</p>
      <div class="skills">
        <a href="#">HTML</a>
        <a href="#">CSS</a>
        <a href="#">TypeScript</a>
        <a href="#">Angular</a>
        <a href ="#">MySql</a>
        <a href="#">Express</a>
      </div>
      <div class="btns">
        <a href="https://github.com/hkcherukuri/visitor-parcel-management-system" target="_blank"
         class="btn">
         <i class="fab fa-github"></i> GitHub</a>
        
      </div>
    </div>

    <div class="project-card">
      <img src="/assets/images/CyberBullying Detection.png" alt="Cyber Bullying Project">
      <h3>Cyber Bullying Detection On Twitter Using Machine Learning</h3>
      <p>Machine learning model to detect cyberbullying on Twitter.</p>
      <div class="skills">
        <a href="#">Python</a>
        <a href="#">NLP's</a>
        <a href="#">Random Forest</a>
        <a href="#">Tokenization</a>
      </div>
      <div class="btns">
        <a href="https://github.com/hkcherukuri/CyberBullying-On-twitter" target="_blank" 
         class="btn">
         <i class="fab fa-github"></i> GitHub</a>
        
      </div>
    </div>
    <div class="project-card">
      <img src="/assets/images/moviebar.png" alt="Movie Bar Project">
      <h3>Movie Search Bar</h3>
      <p>Website for Searching Movies and Adding them to Favorites using OMDB API integration.</p>
      <div class="skills">
        <a href="#">HTML</a>
        <a href="#">CSS</a>
        <a href="#">JavaScript</a>
        <a href="#">API</a>
      </div>
      <div class="btns">
        <a href="https://github.com/hkcherukuri/movie" target="_blank" 
        class="btn">
        <i class="fab fa-github"></i> GitHub</a>
      </div>
    </div>



