 <section class="services" id="services">
        <p>SERVICES</p>
        <h1>Our Features & Services</h1>
        <hr>
        <div class="services-container">

    <div class="service-card">
      <img src="/assets/images/frontend.jpg" alt="Web Development">
      <h3>Front-end Development</h3>
      <p>Crafting responsive and interactive user interfaces using modern web technologies to deliver seamless user experiences.</p>
    </div>

    <div class="service-card">
      <img src="/assets/images/backend.png" alt="App Development">
      <h3>Back-end Development</h3>
      <p>Building secure, scalable, and efficient server-side solutions with strong database and API integration.</p>
    </div>